<footer class ="footer navbar-fixed bottom">
<div class="content">
    <div class="commonrow">
      <div class="image" >
<%#= link_to image_tag("chamnthi.jpg", alt: "File Name Fancy", size: "210*210"), root_path %>
    </div>
    <div class="commonrow">
      <div class="aboutusBox">
      <div class="text">
     
                <h4><span><span><%= link_to 'About_us', root_path,class: "btn btn-primary"  %></span></span></h4></div>
<!-- <div class="text">
        <p>Onlinesticker is a e-commerce platform to "Discover Unique Hand crafted Products" including Handmade, Vintage, Ethnic, Organic,IT and Natural products. 
<br><br>
Onlinesticker is a beautiful assortment of diversity reflected in our Clothing, Food, Lifestyle, Language, Music, Books and other online digital art, etc. This diversity is so rich and diverse that an attempt to capture it on a single platform was never made. Onlinesticker is that sincere attempt by bunch of young insane guys and girls who think this is possible now with the Internet. These are the modern internet entrepreneurs.
<br><br>
Experience the exquisite craftsmanship from the new age of entrepreneurs. We sincerly hope for all our customers to have an amazing experience with our super fast deliveries and policies which are very much customer oriented. 
  </p>
      </div> -->
    </div>
    <div class="commonrow">
      <ul class="list-media-footer">
        <%#= render 'layouts/social' %>
      </ul>
    </div>
    <div class="menu-footer">
     <div class="text">
          <h4>Information</h4>

           <td><%= link_to "About Us", root_path %></td><br>
           <td><%= link_to "Delivery Information", root_path %></td><br>
           <td><%= link_to "Privacy Policy", root_path %></td><br>
           <td><%= link_to "Terms & Conditions", root_path %></td><br>
           <td><%= link_to "Legal Disclaimer", root_path %></td><br>
     
      </div>
    </div>
   <div class="text-center">
      Copyright © 2016 Getthoughts. All rights reserved.
    </div>
    <div class="clearFix"></div>
  </div>
</footer>
</div></div></footer>
<style>
#footer {
    clear: both;
    height: 380px;
    color:#ccc;
    font-size:12px;
    position:relative;
    z-index: 10;
    margin-top: -3em;
    margin-right: -5.3em;
    margin-left: -5.2em;
    background-color:#31353a;
}
</style>
<style>
   div.text-center{
     float: center;
}
div.text{
     margin-left: 75px;
     margin-right: 75px;
     margin-bottom: 10px;
     
}
div.image{
  padding-top: 20px;
     margin-left: 70px;
}
  </style>